.app-layout {
    display: flex;
    min-height: 100vh;
}

.app-main {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 0;
    overflow-y: auto;
    height: 100vh;
}

.app-content {
    padding: 24px 28px;
    flex: 1;
}